body {
  color: white;
  background-color: rgb(0, 20, 19);
}

thead th {
  background-color: rgb(0, 20, 19);
  position: sticky;
  top: 0;
}

td {
  text-align: center;
}

input[type="text"] {
  color: white;
  width: 2em;
  border: 0px;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
}

input[type="submit"] {
  margin-bottom: 2em;
}

#initial {
  padding-bottom: 3em;
}

#table-container {
  width: 80%;
  /* height: 50vh;  filled remaining space dynamicly */
  overflow-x: auto;
}

#error{
  padding-left: 3em;
}
.equation {
  margin-bottom: 1em;
}

.error-column {
  color: yellow;
}

.container-2 {
  display: flex;
  justify-content: left;
  /* width: 30%; */
}
